body {
  height: 100vh;
  background: linear-gradient(45deg, #3c64e7, #06554e);
  font-family: "Fira Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family: inherit;
  border: none;
  background-color: transparent;
  font-weight: 500;
}

a {
  color: rgba(5, 32, 54, 0.699);
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
}

a:hover,
button:hover {
  color: rgba(5, 26, 29, 0.87);
  transform: scale(1.5);
  transition: 1s;
  font-weight: 900;
}
